<div class="html">
<div class="body">
<div class="cover-container d-flex h-100 w-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">{{clanName}}</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome to {{clanName}}!</h1>
    <h3 class="cover-subheading text-muted">{{clanTag}}</h3>
    <p class="lead"> If fighting is sure to result in <span class="highlight">victory,</span> then you <span class="highlight">must fight</span>, even though the ruler forbid it; if fighting will <span class="highlight"> not result in victory,</span> then you <span class="highlight">must not fight</span> even at the ruler's bidding. </p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
    <p class="lead">
      <a class="text-icon-link" target="_blank" href="https://github.com/prabinzz/mind-freaks"> View Code 
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 64 64"><path fill="white" d="M32 0C14 0 0 14 0 32c0 21 19 30 22 30c2 0 2-1 2-2v-5c-7 2-10-2-11-5c0 0 0-1-2-3c-1-1-5-3-1-3c3 0 5 4 5 4c3 4 7 3 9 2c0-2 2-4 2-4c-8-1-14-4-14-15c0-4 1-7 3-9c0 0-2-4 0-9c0 0 5 0 9 4c3-2 13-2 16 0c4-4 9-4 9-4c2 7 0 9 0 9c2 2 3 5 3 9c0 11-7 14-14 15c1 1 2 3 2 6v8c0 1 0 2 2 2c3 0 22-9 22-30C64 14 50 0 32 0z"/><rect x="0" y="0" width="64" height="64" fill="rgba(0, 0, 0, 0)" /></svg>
      </a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      
    </div>
  </footer>
</div>
</div>
</div>

